/* General tags */
*{margin:0; padding:0;}
body {
	background: #333333;
	font:76% verdana,tahoma,sans-serif;
	}

a {
	background-color:inherit;
	color:#d90099;
	font-weight:bold;
	text-decoration:none;
	}
	
a:hover {
	text-decoration:underline;
	}
	
p {
	margin:0 0 16px 0;
	}
	
ul, ol {
	margin:0 0 16px 15px;
	padding-left:5px;
	}
	
ul ul, ol ol {
	margin:3px 0 0 15px;
	}
	
img {
	float:left;
	margin:0 10px 5px 0;
	}

/* Headers */
h1 {
	color:#ffffff;
	font-size:3.6em;
	letter-spacing:-3px;
	margin:0;
	text-align:right;
	}
	
h2 {
	font-size:1.6em;
	font-weight:normal;
	letter-spacing:-1px;
	margin:5px 0 10px;
	}

/* IDs */
#title{
	margin:20px auto -9px;
	width:700px;
	}

#container {
	background:#000000 url(tree.png) bottom left no-repeat;
	border-top:10px solid #ffffff;
	border-bottom:10px solid #ffffff;
	border-left:10px solid #ffffff;
	border-right:10px solid #ffffff;
	color:#ffffff;
	margin:0 auto 15px;
	padding:10px;
	width:700px;
	line-height:1.3em;
	min-height: 350px;
	}
	
#sidebar {
	float:left;
	padding-left:175px;
	width:110px;
	}
	
#sidebar p {
	margin:10px 0 5px 0;
	text-align:center;
	font-size:0.8em;
	}
	
#main {
	float:right; width:385px;
	}
	
#footer {
	clear:both;
	}

/* Menu */
.menu {
	color:#ffffff;
	display:block;
	font-size:1.1em;
	font-weight:bold;
	padding:4px 2px 4px 10px;
	width:110px;
	}
	
.menu:hover{ 
	color:#d90099;
	text-decoration:none;
	}


.footer {
	color:#ffffff;
	font-size:0.9em;
	margin-bottom:0;
	}
	
.footer a{
	color:#d90099;
	}
